{% extends "koleso/base.jinja" %}

{% from "macroses.jinja" import breadcrumbs with context %}

{#
{% block crumbs %}
    {% set crumbs = [(object.category.get_absolute_url(category_uri), object.category.name),] %}
    {% if object.vendor %}{% do crumbs.append((object.vendor.get_absolute_url(), object.vendor.name),) %}{% endif %}
    {% if object.diameter %}
        {% do crumbs.append((url('koleso:list', category_uri='tires', brand=object.vendor.name, diameter=object.diameter), 'шины %s %s' % (object.diameter, object.diameter|plural(*inches)) ),) %}
    {% endif %}
    {{ breadcrumbs(crumbs=crumbs) }}
{% endblock %}
 #}

{% block head_title -%}
    <title>{{ object.get_name() }} - {{ reverted_path_way|join(' - ') }}</title>
{%- endblock %}

{% block head %}
    {{ super() }}
    <meta property="og:site_name" content="wheelzard">
    {% if object.picture %}
        <meta property="og:image" content="{{ object.picture }}">
    {% endif %}
    {# <meta name="description" content="{{ object.text[:250] }}"> #}
{% endblock %}



{% block content %}
<div class="container container-detail container-detail-menued">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-4">
            <h1>{{ category_title }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <ul class="nav nav-pills nav-stacked" id="menu">
            {%- for category in menu_categories recursive %}
                {% if category %}
                    {% set category_uri = url('avtogsm:list', category_id=category.id) %}
                {% else %}
                    {% set category_uri = url('avtogsm:list') %}
                {% endif %}
                <li{% if category.id|int == category_id or category.id in parents_ids %} class="active"{% endif %}><a href="{{ category_uri }}">{{ category.name }}</a>
                {%- if not category.is_leaf_node() -%}
                    <ul class="nav nav-pills nav-stacked submenu">{{ loop(category.get_children().filter(level__lte=2)) }}</ul>
                {%- endif %}</li>
            {%- endfor %}
            </ul>


        </div>
        <div class="col-sm-8 avtogsm__detail">

            <h1>{{ object.get_name() }}</h1>
            <p>{{ object.name }} {{ object.description|linebreaksbr }}</p>
            <div class="avtogsm__detail_price">
                <a href="{{ object.url }}" rel="nofollow" class="btn btn-success">
                  <span class="glyphicon glyphicon-shopping-cart"></span>
                  <span class="catalog__detail__price">{{ object.price }} руб.</span>
                </a>
                <br>
                <a href="{{ object.url }}" rel="nofollow" class="label label-default"><span class="catalog__detail__price_descr">в наличии на сайте avtogsm.ru</span></a>
            </div>
            <img src="{{ object.picture }}" alt="{{ object.name }}" class="avtogsm__detail_img">

            <br>
            <br>
            <br>

            {% if menu_subcategories|length > 1 %}
                <ul class="nav nav-pills subcategories">
                {% for subcategory in menu_subcategories %}
                    <li{% if subcategory.id|int == category_id %} class="active"{% endif %}><a href="{{ url('avtogsm:list', category_id=subcategory.id) }}">{{ subcategory.name }}</a></li>
                {% endfor %}
                </ul>
                <br>
            {% endif %}

        </div>
    </div>

    <br>
    <br>
    <br>


</div>
{% endblock %}