<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Страница диска -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-6054521441830121"
     data-ad-slot="7427596688"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>