{% extends 'base.jinja' %}

{% block content %}

<style>
body {
    position: relative;
    background: #000;
}
body:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url(/static/images/sad.jpeg) no-repeat 50% 50%;
    width: 100%;
    height: 100%;
    opacity : 0.6;
    z-index: -1;
}
h1 {
    font-size: 30px;
    color: #DDD;
}
p {
    color: #DDD;
}
.error_page {
    margin: 200px 0 0 240px;
}
.error_page__descr {
    margin: 20px 0;
    font-size: 20px;
}
.error_page li {
    margin-bottom: 8px;
}
.error_page li a {
    font-size: 16px;
    color: #EEE;
    text-decoration: underline;
}
</style>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error_page">
                    <h1>К сожалению, такой страницы больше нет</h1>

                    <p class="error_page__descr">Возможно, то что нужно — найдется здесь:</p>
                    <ul>
                        <li><a href="/">Главная страница</a></li>
                        <li><a href="{{ url('koleso:list', category_uri='disks') }}">Каталог автомобильных дисков</a></li>
                        <li><a href="{{ url('koleso:list', category_uri='tires') }}">Каталог автомобильных шин</a></li>
                        <li><a href="{{ url('avtogsm:list') }}">Автомобильные аксессуары</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}