<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name='yandex-verification' content='617011a4588492bb'>
    <meta name="google-site-verification" content="rqeeO1CTrHyzPYul67bCY3FP4Aq6rFi8DN3DDXRqOEg">
    <meta name="verify-admitad" content="e321b40b1f" />
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    {{ bootstrap_css() }}
    {{ bootstrap_javascript() }}
    {% block head %}{% endblock %}
    {% block head_title -%}
        <title>Каталог шин и дисков</title>
    {%- endblock %}
</head>
<body>
    {% block header_banner %}{% endblock %}

    {% block header %}{% endblock %}

    {% block messages %}
        {# {{ bootstrap_messages(request.GET) }} #}
    {% endblock %}
    {% block crumbs %}{% endblock %}
    {% block content %}{% endblock %}
<!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter36429990 = new Ya.Metrika({ id:36429990, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/36429990" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77797173-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
{#
<form action="/url/to/submit/" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Submit
    </button>
  {% endbuttons %}
</form>
 #}
