{% macro breadcrumbs(crumbs, request_path) %}
    {% if crumbs %}
        <ol class="breadcrumb">
            <li><a href="/">Главная</a></li>
            {% for url, title in crumbs %}
                {% if url %}
                    <li{% if url == request_path %} class="active"{% endif %}><a href="{{ url }}">{{ title }}</a></li>
                {% elif not url or url == request_path %}
                    <li class="active">{{ title }}</li>
                {% endif %}
            {% endfor %}
        </ol>
    {% endif %}
{% endmacro %}
