{% extends "base.jinja" %}

{% block head %}
    <link rel="stylesheet" href="/static/css/common.css">
{% endblock %}

{% block header_banner %}
  <div class="container"></div>
{% endblock %}
{% block header %}
  {% include 'koleso/includes/topmenu.jinja' %}
{% endblock %}
{% block messages %}
    {# {{ bootstrap_messages(request.GET) }} #}
{% endblock %}

{% block content %}{% endblock %}

