
{% macro list_item(item) -%}
    <div class="catalog_list__item">
        <div class="catalog_list__item_wrap">
            <a href="{{ item.get_absolute_url() }}" target="_blank" class="catalog_item__card">
                <span class="catalog_list__item__title">{{ item.title }}</span>
                <span class="catalog_list__item__diameter">{{ item.diameter }}"</span>
                <div class="detail_image">
                    {% if item.price %}
                        <span class="catalog_item__price">
                            {{ item.price|int }} руб.
                        </span>
                    {% endif %}
                    <img src="{{ item.picture }}" alt="">
                </div>
            </a>
        </div>
    </div>
{%- endmacro %}


{% macro filter_form() %}
<nav class="navbar navbar-default navbar-catalog_filter">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-filter-form" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="collapse-filter-form">

        <div class="catalog_filter clear">
            <form method="get" class="navbar-form navbar-left" action="{{ url('koleso:list', category_uri=category_uri) }}">
                <div class="form-group">
                {{ filter.form.as_ul() }}
                </div>
                <button class="btn btn-default" type="submit">Поиск</button>
            </form>
        </div>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endmacro %}


{% macro price_button(price, url, text='в наличии на сайте kolesatyt.ru') -%}
    <div class="price_button">
        <a href="{{ url }}" rel="nofollow" class="btn btn-success">
          <span class="glyphicon glyphicon-shopping-cart"></span>
          <span class="catalog__detail__price">{{ price }} руб.</span>
        </a>
        <br>
        <a href="{{ url }}" rel="nofollow" class="label label-default"><span class="catalog__detail__price_descr">{{ text }}</span></a>
    </div>
{% endmacro -%}


{% macro yandex_share() %}
    <div class="yandex_share">
        <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
        <div class="yandex_share__title">понравилось — сохрани!</div>
        <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,twitter"></div>
    </div>
{% endmacro %}
