{% extends "koleso/base.jinja" %}

{% block content %}

    <div class="container-fluid vendors">
        <div class="container">
            <div class="row">
                <h1>Автомобильные диски в {{ city_where|capitalize }}</h1>
                <div class="vendor_list vendor_list-disk row">
                    {% for disk_brand in disk_brands %}
                        <span class="vendor_list__item col-xs-2"><a href="{{ url('koleso:list', category_uri='disks', brand=disk_brand.name) }}">{{ disk_brand }}</a></span>
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <h1>Автомобильные и грузовые шины в {{ city_where|capitalize }}</h1>
                <div class="vendor_list vendor_list-tire row">
                    {% for tire_brand in tire_brands %}
                        <span class="vendor_list__item col-xs-2{% if tire_brand.sorting_weight %} vendor_list__item-popular{% endif %}"><a href="{{ url('koleso:list', category_uri='tires', brand=tire_brand.name) }}">{{ tire_brand }}</a></span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <div class="container content">
        <h1 class="main_page_title">Каталог автомобильных шин и дисков по типоразмеру</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img_index pull-left" src="/static/images/disk.jpg" width="180" alt="">
                    </div>
                    <div class="col-md-6 inches">
                        <h3>Диаметр дисков</h3>
                        {% for t in disks_diameters %}
                            <a href="{{ url('koleso:list', category_uri='disks', diameter=t) }}">{{ t }}"</a>,
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img_index pull-left" src="/static/images/wheel.png" height="180" alt="">
                    </div>
                    <div class="col-md-6 inches">
                        <h3>Диаметр шин</h3>
                        {% for t in tires_diameters %}
                            <a href="{{ url('koleso:list', category_uri='tires', diameter=t) }}">{{ t }}"</a>,
                        {% endfor %}
                        {# <br>
                        <br>
                        <a href="#">Бескамерные шины</a>, <a href="#">Зимние шины</a>, #}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <br>
        <br>
        <br>



        <div class="row">
            <div class="col-md-12">
                <p>Подбор шин и дисков по типоразмеру. Если вы знаете типоразмер необходимых для вас шин и дисков, то для вас не составит труда найти на нашем сайте то, что вы ищете.</p>
                <p>Все предоставленные шины и диски предоставляются нашими партнерами и заказ можно оформить по всей России. Пункты выдачи есть практически в любом городе России.</p>
                <p>Чтобы посмотреть, есть ли ваш город в списке доставки шин и дисков - достаточно перейти на партнерский сайт и найти информацию о доставке.</p>

                <br>
                <br>
                <a href="{{ url('koleso:cities') }}">Список городов</a>
            </div>
        </div>
    </div>



    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}
